.desktop {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    /* Leaves space for the taskbar at the bottom */
    height: calc(100vh - 28px);
}

.container-desktop-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    padding: 10px;
    gap: 15px 30px;
}

.desktop-icon {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.desktop-icon-image {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
    image-rendering: pixelated;
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
}

.desktop-icon-text {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 11px;
    font-family: 'MS Sans Serif', sans-serif;
    text-shadow: 1px 1px 0 #000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines */
    overflow: hidden;
    padding: 2px 4px;
    overflow-wrap: break-word;
}